In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
file_path = '/content/drive/MyDrive/kaggle-study/4/data/'
train = pd.read_csv(file_path + 'train.csv')

In [18]:
train.shape

(3362796, 8)

In [19]:
train.head()

   store_id        date      time  ... installments  days_of_week  holyday
0         0  2016-12-14  18:05:31  ...          NaN             2        0
1         0  2016-12-14  18:05:54  ...          NaN             2        0
2         0  2016-12-19  12:42:31  ...          NaN             0        0
3         0  2016-12-19  12:48:08  ...          NaN             0        0
4         0  2016-12-19  13:31:08  ...          NaN             0        0

[5 rows x 8 columns]

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3362796 entries, 0 to 3362795
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   store_id      int64
 1   date          object
 2   time          object
 3   card_id       object
 4   amount        int64
 5   installments  float64
 6   days_of_week  int64
 7   holyday       int64
dtypes: float64(1), int64(4), object(3)
memory usage: 205.2+ MB

## 1. 요일별 수익
- 전체
- 공휴일 아닌 요일
- 공휴일

In [21]:
train1 = train.copy()

In [22]:
train1 = train1.drop(['date', 'time', 'card_id', 'installments'], axis=1)

### 가계마다 요일별 수익이 크게 다르려나?

## 2. 시간대별 수익

## 3. 요일별, 시간대별 수익 -> 3D로?

## 4. 수익이 점점 늘어나는지

## 5. 할부가 무엇과 연관이 있는지 -> 할부타겟으로 공분산?