# [병원 개/폐업 분류 예측 경진대회(데이콘)](https://dacon.io/competitions/official/9565/overview/description/)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# colab으로 실행할 때
from google.colab import drive
drive.mount('/content/drive')
train_df = pd.read_csv('/content/drive/MyDrive/kaggle-study/1/data02/train.csv')
test_df = pd.read_csv('/content/drive/MyDrive/kaggle-study/1/data02/test.csv')
submission_df = pd.read_csv('/content/drive/MyDrive/kaggle-study/1/data02/submission_sample.csv')

# jupyter로 실행할 때
# train_df = pd.read_csv('./data02/train.csv')
# test_df = pd.read_csv('./data02/test.csv')
# submission_df = pd.read_csv('./data02/submission_sample.csv')

Mounted at /content/drive

In [ ]:
train_df.head()

   inst_id    OC       sido  ...  employee1  employee2  ownerChange
0        1  open  choongnam  ...       62.0       64.0         same
1        3  open  gyeongnam  ...      801.0      813.0         same
2        4  open   gyeonggi  ...      234.0        1.0         same
3        7  open    incheon  ...      663.0      663.0         same
4        9  open  gyeongnam  ...      206.0      197.0         same

[5 rows x 58 columns]

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             301 non-null    int64
 1   OC                  301 non-null    object
 2   sido                301 non-null    object
 3   sgg                 301 non-null    int64
 4   openDate            301 non-null    int64
 5   bedCount            296 non-null    float64
 6   instkind            300 non-null    object
 7   revenue1            293 non-null    float64
 8   salescost1          293 non-null    float64
 9   sga1                293 non-null    float64
 10  salary1             293 non-null    float64
 11  noi1                293 non-null    float64
 12  noe1                293 non-null    float64
 13  interest1           293 non-null    float64
 14  ctax1               293 non-null    float64
 15  profit1             293 non-null    float64
 16  liquidAsset1        293 non-null    float64
 17  quickAsset1         293 non-null    float64
 18  receivableS1        293 non-null    float64
 19  inventoryAsset1     293 non-null    float64
 20  nonCAsset1          293 non-null    float64
 21  tanAsset1           293 non-null    float64
 22  OnonCAsset1         293 non-null    float64
 23  receivableL1        293 non-null    float64
 24  debt1               293 non-null    float64
 25  liquidLiabilities1  293 non-null    float64
 26  shortLoan1          293 non-null    float64
 27  NCLiabilities1      293 non-null    float64
 28  longLoan1           293 non-null    float64
 29  netAsset1           293 non-null    float64
 30  surplus1            293 non-null    float64
 31  revenue2            293 non-null    float64
 32  salescost2          293 non-null    float64
 33  sga2                293 non-null    float64
 34  salary2             293 non-null    float64
 35  noi2                293 non-null    float64
 36  noe2                293 non-null    float64
 37  interest2           293 non-null    float64
 38  ctax2               293 non-null    float64
 39  profit2             293 non-null    float64
 40  liquidAsset2        293 non-null    float64
 41  quickAsset2         293 non-null    float64
 42  receivableS2        293 non-null    float64
 43  inventoryAsset2     293 non-null    float64
 44  nonCAsset2          293 non-null    float64
 45  tanAsset2           293 non-null    float64
 46  OnonCAsset2         293 non-null    float64
 47  receivableL2        293 non-null    float64
 48  debt2               293 non-null    float64
 49  liquidLiabilities2  293 non-null    float64
 50  shortLoan2          293 non-null    float64
 51  NCLiabilities2      293 non-null    float64
 52  longLoan2           293 non-null    float64
 53  netAsset2           293 non-null    float64
 54  surplus2            293 non-null    float64
 55  employee1           291 non-null    float64
 56  employee2           288 non-null    float64
 57  ownerChange         289 non-null    object
dtypes: float64(51), int64(3), object(4)
memory usage: 136.5+ KB

train.csv - 의료기관이 폐업했는지 여부를 포함하여 최근 2개년의 재무정보와 병원 기본정보 
test.csv - 폐업 여부를 제외하고 train.csv와 동일 

sample_submission.csv - inst_id와 open과 close를 예측하는 OC 두개의 열로 구성. OC의 값은 open 예측일 경우 1, close 예측일 경우 0.



inst_id - 각 파일에서의 병원 고유 번호

OC – 영업/폐업 분류, 2018년 폐업은 2017년 폐업으로 간주함

sido – 병원의 광역 지역 정보

sgg – 병원의 시군구 자료

openDate – 병원 설립일

bedCount - 병원이 갖추고 있는 병상의 수

instkind – 병원, 의원, 요양병원, 한의원, 종합병원 등 병원의 종류

·        종합병원 : 입원환자 100명 이상 수용 가능

·        병원 : 입원 환자 30명 이상 100명 미만 수용 가능

·        의원 : 입원 환자 30명 이하 수용 가능

·        한방 병원(한의원) : 침술과 한약으로 치료하는 의료 기관.  

 

revenue1 – 매출액, 2017(회계년도)년 데이터를 의미함

salescost1 – 매출원가, 2017(회계년도)년 데이터를 의미함

sga1 - 판매비와 관리비, 2017(회계년도)년 데이터를 의미함

salary1 – 급여, 2017(회계년도)년 데이터를 의미함

noi1 – 영업외수익, 2017(회계년도)년 데이터를 의미함

noe1 – 영업외비용, 2017(회계년도)년 데이터를 의미함

Interest1 – 이자비용, 2017(회계년도)년 데이터를 의미함

ctax1 – 법인세비용, 2017(회계년도)년 데이터를 의미함

Profit1 – 당기순이익, 2017(회계년도)년 데이터를 의미함

liquidAsset1 – 유동자산, 2017(회계년도)년 데이터를 의미함

quickAsset1 – 당좌자산, 2017(회계년도)년 데이터를 의미함

receivableS1 - 미수금(단기), 2017(회계년도)년 데이터를 의미함

inventoryAsset1 – 재고자산, 2017(회계년도)년 데이터를 의미함

nonCAsset1 – 비유동자산, 2017(회계년도)년 데이터를 의미함

tanAsset1 – 유형자산, 2017(회계년도)년 데이터를 의미함

OnonCAsset1 - 기타 비유동자산, 2017(회계년도)년 데이터를 의미함

receivableL1 – 장기미수금, 2017(회계년도)년 데이터를 의미함

debt1 – 부채총계, 2017(회계년도)년 데이터를 의미함

liquidLiabilities1 – 유동부채, 2017(회계년도)년 데이터를 의미함

shortLoan1 – 단기차입금, 2017(회계년도)년 데이터를 의미함

NCLiabilities1 – 비유동부채, 2017(회계년도)년 데이터를 의미함

longLoan1 – 장기차입금, 2017(회계년도)년 데이터를 의미함

netAsset1 – 순자산총계, 2017(회계년도)년 데이터를 의미함

surplus1 – 이익잉여금, 2017(회계년도)년 데이터를 의미함

 

revenue2 – 매출액, 2016(회계년도)년 데이터를 의미함

salescost2 – 매출원가, 2016(회계년도)년 데이터를 의미함

sga2 - 판매비와 관리비, 2016(회계년도)년 데이터를 의미함

salary2 – 급여, 2016(회계년도)년 데이터를 의미함

noi2 – 영업외수익, 2016(회계년도)년 데이터를 의미함

noe2 – 영업외비용, 2016(회계년도)년 데이터를 의미함

interest2 – 이자비용, 2016(회계년도)년 데이터를 의미함

ctax2 – 법인세비용, 2016(회계년도)년 데이터를 의미함

profit2 – 당기순이익, 2016(회계년도)년 데이터를 의미함

liquidAsset2 – 유동자산, 2016(회계년도)년 데이터를 의미함

quickAsset2 – 당좌자산, 2016(회계년도)년 데이터를 의미함

receivableS2 - 미수금(단기), 2016(회계년도)년 데이터를 의미함

inventoryAsset2 – 재고자산, 2016(회계년도)년 데이터를 의미함

nonCAsset2 – 비유동자산, 2016(회계년도)년 데이터를 의미함

tanAsset2 – 유형자산, 2016(회계년도)년 데이터를 의미함

OnonCAsset2 - 기타 비유동자산, 2016(회계년도)년 데이터를 의미함

receivableL2 – 장기미수금, 2016(회계년도)년 데이터를 의미함

Debt2 – 부채총계, 2016(회계년도)년 데이터를 의미함

liquidLiabilities2 – 유동부채, 2016(회계년도)년 데이터를 의미함

shortLoan2 – 단기차입금, 2016(회계년도)년 데이터를 의미함

NCLiabilities2 – 비유동부채, 2016(회계년도)년 데이터를 의미함

longLoan2 – 장기차입금, 2016(회계년도)년 데이터를 의미함

netAsset2 – 순자산총계, 2016(회계년도)년 데이터를 의미함

surplus2 – 이익잉여금, 2016(회계년도)년 데이터를 의미함

employee1 – 고용한 총 직원의 수, 2017(회계년도)년 데이터를 의미함

employee2 – 고용한 총 직원의 수, 2016(회계년도)년 데이터를 의미함

ownerChange – 대표자의 변동

# 데이터 전처리

In [ ]:
train_df['OC'].value_counts()

open      286
 close     15
Name: OC, dtype: int64

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

# fit_transform 의 인자로 trian[['OC']]를 넣는다. train_df['OC'] X 
# DataFrame이 반환되냐, Series가 반환되냐 의 차이
# OC 는 LabelEncoder 로 하는게 맞는 것 같다 -> 타겟 값이므로로
type(train_df['OC'])
type(train_df[['OC']])
OC_encoder = OrdinalEncoder()
OC_encoded = OC_encoder.fit_transform(train_df[['OC']])
train_df['OC'] = OC_encoded

In [ ]:
train_df['OC'].value_counts()

1.0    286
0.0     15
Name: OC, dtype: int64

In [ ]:
# 피처와 타겟값 분리
y_train = train_df['OC']
X_train = train_df.drop('OC', axis=1)

X_test = test_df.drop('OC', axis=1)

In [ ]:
# 식별을 위한 id 값이므로 삭제
X_train = X_train.drop('inst_id', axis=1)

## categorical data

In [ ]:
# ownerChange와 instkind 가장 많은 값으로 대체

X_train['ownerChange'][X_train['ownerChange'].isnull()] = X_train['ownerChange'].value_counts().index[0]
X_train['instkind'][X_train['instkind'].isnull()] = X_train['instkind'].value_counts().index[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
# ownerChange 숫자 인코딩

ownerChange_encoder = OrdinalEncoder()
ownerChange_encoded = ownerChange_encoder.fit_transform(X_train[['ownerChange']])
ownerChange_encoded.shape

(301, 1)

In [ ]:
def split_openDate_to_ymd(X):
    X['openDate'] = X['openDate'].astype(str)
    X['openYear'] = X['openDate'].str[:4]
    X['openMonth'] = X['openDate'].str[4:6]
    X['openDay'] = X['openDate'].str[6:]
    
    X = X.drop('openDate', axis=1)
    return X

In [ ]:
X_train = split_openDate_to_ymd(X_train)
X_test = split_openDate_to_ymd(X_test)

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sido                301 non-null    object
 1   sgg                 301 non-null    int64
 2   bedCount            296 non-null    float64
 3   instkind            301 non-null    object
 4   revenue1            293 non-null    float64
 5   salescost1          293 non-null    float64
 6   sga1                293 non-null    float64
 7   salary1             293 non-null    float64
 8   noi1                293 non-null    float64
 9   noe1                293 non-null    float64
 10  interest1           293 non-null    float64
 11  ctax1               293 non-null    float64
 12  profit1             293 non-null    float64
 13  liquidAsset1        293 non-null    float64
 14  quickAsset1         293 non-null    float64
 15  receivableS1        293 non-null    float64
 16  inventoryAsset1     293 non-null    float64
 17  nonCAsset1          293 non-null    float64
 18  tanAsset1           293 non-null    float64
 19  OnonCAsset1         293 non-null    float64
 20  receivableL1        293 non-null    float64
 21  debt1               293 non-null    float64
 22  liquidLiabilities1  293 non-null    float64
 23  shortLoan1          293 non-null    float64
 24  NCLiabilities1      293 non-null    float64
 25  longLoan1           293 non-null    float64
 26  netAsset1           293 non-null    float64
 27  surplus1            293 non-null    float64
 28  revenue2            293 non-null    float64
 29  salescost2          293 non-null    float64
 30  sga2                293 non-null    float64
 31  salary2             293 non-null    float64
 32  noi2                293 non-null    float64
 33  noe2                293 non-null    float64
 34  interest2           293 non-null    float64
 35  ctax2               293 non-null    float64
 36  profit2             293 non-null    float64
 37  liquidAsset2        293 non-null    float64
 38  quickAsset2         293 non-null    float64
 39  receivableS2        293 non-null    float64
 40  inventoryAsset2     293 non-null    float64
 41  nonCAsset2          293 non-null    float64
 42  tanAsset2           293 non-null    float64
 43  OnonCAsset2         293 non-null    float64
 44  receivableL2        293 non-null    float64
 45  debt2               293 non-null    float64
 46  liquidLiabilities2  293 non-null    float64
 47  shortLoan2          293 non-null    float64
 48  NCLiabilities2      293 non-null    float64
 49  longLoan2           293 non-null    float64
 50  netAsset2           293 non-null    float64
 51  surplus2            293 non-null    float64
 52  employee1           291 non-null    float64
 53  employee2           288 non-null    float64
 54  ownerChange         301 non-null    object
 55  openYear            301 non-null    object
 56  openMonth           301 non-null    object
 57  openDay             301 non-null    object
dtypes: float64(51), int64(1), object(6)
memory usage: 136.5+ KB

In [ ]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 59 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             127 non-null    int64
 1   sido                127 non-null    object
 2   sgg                 127 non-null    int64
 3   bedCount            119 non-null    float64
 4   instkind            125 non-null    object
 5   revenue1            125 non-null    float64
 6   salescost1          125 non-null    float64
 7   sga1                125 non-null    float64
 8   salary1             125 non-null    float64
 9   noi1                125 non-null    float64
 10  noe1                125 non-null    float64
 11  interest1           125 non-null    float64
 12  ctax1               125 non-null    float64
 13  profit1             125 non-null    float64
 14  liquidAsset1        125 non-null    float64
 15  quickAsset1         125 non-null    float64
 16  receivableS1        125 non-null    float64
 17  inventoryAsset1     125 non-null    float64
 18  nonCAsset1          125 non-null    float64
 19  tanAsset1           125 non-null    float64
 20  OnonCAsset1         125 non-null    float64
 21  receivableL1        125 non-null    float64
 22  debt1               125 non-null    float64
 23  liquidLiabilities1  125 non-null    float64
 24  shortLoan1          125 non-null    float64
 25  NCLiabilities1      125 non-null    float64
 26  longLoan1           125 non-null    float64
 27  netAsset1           125 non-null    float64
 28  surplus1            125 non-null    float64
 29  revenue2            125 non-null    float64
 30  salescost2          125 non-null    float64
 31  sga2                125 non-null    float64
 32  salary2             125 non-null    float64
 33  noi2                125 non-null    float64
 34  noe2                125 non-null    float64
 35  interest2           125 non-null    float64
 36  ctax2               125 non-null    float64
 37  profit2             125 non-null    float64
 38  liquidAsset2        125 non-null    float64
 39  quickAsset2         125 non-null    float64
 40  receivableS2        125 non-null    float64
 41  inventoryAsset2     125 non-null    float64
 42  nonCAsset2          125 non-null    float64
 43  tanAsset2           125 non-null    float64
 44  OnonCAsset2         125 non-null    float64
 45  receivableL2        125 non-null    float64
 46  debt2               125 non-null    float64
 47  liquidLiabilities2  125 non-null    float64
 48  shortLoan2          125 non-null    float64
 49  NCLiabilities2      125 non-null    float64
 50  longLoan2           125 non-null    float64
 51  netAsset2           125 non-null    float64
 52  surplus2            125 non-null    float64
 53  employee1           119 non-null    object
 54  employee2           112 non-null    object
 55  ownerChange         112 non-null    object
 56  openYear            127 non-null    object
 57  openMonth           127 non-null    object
 58  openDay             127 non-null    object
dtypes: float64(49), int64(2), object(8)
memory usage: 58.7+ KB

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
# 원핫인코딩을 train셋으로만 fit 하니까 test셋에 있는 범주에 대해서는 인코딩하지 못했음
def preprocess_categorical(ohencoder, X_train, X_test, colname):
    X_test_dropna = X_test[colname].dropna()
    data_all = np.concatenate([X_train[colname], X_test_dropna])
    ohencoder.fit(data_all.reshape(-1, 1))
    processed = ohencoder.transform(X_train[[colname]])
    return processed

sido_encoder = OneHotEncoder()
sgg_encoder = OneHotEncoder()
instkind_encoder = OneHotEncoder()
openYear_encoder = OneHotEncoder()
openMonth_encoder = OneHotEncoder()
openDay_encoder = OneHotEncoder()

sido_encoded = X_train['sido'] = preprocess_categorical(
    sido_encoder, X_train, X_test, 'sido')
sgg_encoded = X_train['sgg'] = preprocess_categorical(
    sgg_encoder, X_train, X_test, 'sgg')
instkind_encoded = X_train['instkind'] = preprocess_categorical(
    instkind_encoder, X_train, X_test, 'instkind')
openYear_encoded = X_train['openYear'] = preprocess_categorical(
    openYear_encoder, X_train, X_test, 'openYear')
openMonth_encoded = X_train['openMonth'] = preprocess_categorical(
    openMonth_encoder, X_train, X_test, 'openMonth')
openDay_encoded = X_train['openDay'] = preprocess_categorical(
    openDay_encoder, X_train, X_test, 'openDay')

# 이 방식으로 하니 데이터프레임의 한 칼럼에 배열이 포함되게 되어 학습이 진행되지 않는 것 같다.
# X_train['sido'] = preprocess_categorical(sido_encoder, X_train, X_test, 'sido')
# X_train['sgg'] = preprocess_categorical(sgg_encoder, X_train, X_test, 'sgg')
# X_train['instkind'] = preprocess_categorical(instkind_encoder, X_train, X_test, 'instkind')
# X_train['openYear'] = preprocess_categorical(openYear_encoder, X_train, X_test, 'openYear')
# X_train['openMonth'] = preprocess_categorical(openMonth_encoder, X_train, X_test, 'openMonth')
# X_train['openDay'] = preprocess_categorical(openDay_encoder, X_train, X_test, 'openDay')

In [ ]:
X_train_cat = np.concatenate(
    [ownerChange_encoded, sido_encoded.toarray(), sgg_encoded.toarray(),
    instkind_encoded.toarray(), openYear_encoded.toarray(),
    openMonth_encoded.toarray(), openDay_encoded.toarray()], axis=1)

# 희소행렬은 처리할 수 없나?
# X_train_cat = np.concatenate(
#     [sido_encoded, sgg_encoded, instkind_encoded,
#     openYear_encoded, openMonth_encoded, openDay_encoded], axis=1)

In [ ]:
X_train_cat.shape

(301, 318)

In [ ]:
cat_attribs = [
  'sido', 'sgg', 'instkind', 'ownerChange', 'openYear', 'openMonth', 'openDay'
]

In [ ]:
X_train_num = X_train.drop(cat_attribs, axis=1)
X_train_num.shape

(301, 51)

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
imputer.fit(X_train_num)
X_train_num = imputer.transform(X_train_num)

In [ ]:
X_train_preprocessed = np.concatenate([X_train_cat, X_train_num], axis=1)

In [ ]:
X_train_preprocessed.shape

(301, 369)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate
from xgboost import XGBClassifier
from sklearn.svm import SVC

rnd_clf = RandomForestClassifier(n_jobs=-1)
xgb_clf = XGBClassifier(n_jobs=-1)
svc = SVC()

In [ ]:
def print_validation(model):
  validation = cross_validate(
      model, X_train_preprocessed, y_train, scoring=('accuracy', 'precision', 'recall', 'f1', 'roc_auc')
  )
  print(model.__class__.__name__)
  for score_name in validation.keys():
    score = np.mean(validation[score_name])
    print(score_name, score)

In [ ]:
print_validation(rnd_clf)
print_validation(xgb_clf)
print_validation(svc)

RandomForestClassifier
fit_time 0.21741833686828613
score_time 0.2082341194152832
test_accuracy 0.9501639344262296
test_precision 0.9501639344262296
test_recall 1.0
test_f1 0.9744451626804567
test_roc_auc 0.5084190360959872
XGBClassifier
fit_time 0.20195279121398926
score_time 0.006586217880249023
test_accuracy 0.9501639344262296
test_precision 0.9501639344262296
test_recall 1.0
test_f1 0.9744451626804567
test_roc_auc 0.542347247428917
SVC
fit_time 0.01059131622314453
score_time 0.008207941055297851
test_accuracy 0.9501639344262296
test_precision 0.9501639344262296
test_recall 1.0
test_f1 0.9744451626804567
test_roc_auc 0.6054043153861667

In [ ]:
=