In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

train_df=pd.read_csv("/content/drive/MyDrive/kaggle-study/1/kisti-sejong-winterschool-p3/train.csv")
test_df =pd.read_csv("/content/drive/MyDrive/kaggle-study/1/kisti-sejong-winterschool-p3/test.csv")

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             244 non-null    int64
 1   OC                  244 non-null    object
 2   sido                244 non-null    object
 3   sgg                 244 non-null    int64
 4   openDate            244 non-null    int64
 5   bedCount            239 non-null    float64
 6   instkind            243 non-null    object
 7   revenue1            240 non-null    float64
 8   salescost1          240 non-null    float64
 9   sga1                240 non-null    float64
 10  salary1             240 non-null    float64
 11  noi1                240 non-null    float64
 12  noe1                240 non-null    float64
 13  interest1           240 non-null    float64
 14  ctax1               240 non-null    float64
 15  profit1             240 non-null    float64
 16  liquidAsset1        240 non-null    float64
 17  quickAsset1         240 non-null    float64
 18  receivableS1        240 non-null    float64
 19  inventoryAsset1     240 non-null    float64
 20  nonCAsset1          240 non-null    float64
 21  tanAsset1           240 non-null    float64
 22  OnonCAsset1         240 non-null    float64
 23  receivableL1        240 non-null    float64
 24  debt1               240 non-null    float64
 25  liquidLiabilities1  240 non-null    float64
 26  shortLoan1          240 non-null    float64
 27  NCLiabilities1      240 non-null    float64
 28  longLoan1           240 non-null    float64
 29  netAsset1           240 non-null    float64
 30  surplus1            240 non-null    float64
 31  revenue2            240 non-null    float64
 32  salescost2          240 non-null    float64
 33  sga2                240 non-null    float64
 34  salary2             240 non-null    float64
 35  noi2                240 non-null    float64
 36  noe2                240 non-null    float64
 37  interest2           240 non-null    float64
 38  ctax2               240 non-null    float64
 39  profit2             240 non-null    float64
 40  liquidAsset2        240 non-null    float64
 41  quickAsset2         240 non-null    float64
 42  receivableS2        240 non-null    float64
 43  inventoryAsset2     240 non-null    float64
 44  nonCAsset2          240 non-null    float64
 45  tanAsset2           240 non-null    float64
 46  OnonCAsset2         240 non-null    float64
 47  receivableL2        240 non-null    float64
 48  debt2               240 non-null    float64
 49  liquidLiabilities2  240 non-null    float64
 50  shortLoan2          240 non-null    float64
 51  NCLiabilities2      240 non-null    float64
 52  longLoan2           240 non-null    float64
 53  netAsset2           240 non-null    float64
 54  surplus2            240 non-null    float64
 55  employee1           236 non-null    float64
 56  employee2           234 non-null    float64
 57  ownerChange         235 non-null    object
dtypes: float64(51), int64(3), object(4)
memory usage: 110.7+ KB

In [4]:
train_df.OC= train_df.OC.astype('str').str.replace(" ","")

In [5]:
train_test_prod = train_df.append(test_df)

In [6]:
train_test_prod.shape

(301, 58)

In [7]:
def split_openDate_to_ymd(X):
    X['openDate'] = X['openDate'].astype(str)
    X['openYear'] = X['openDate'].str[:4]
    X['openMonth'] = X['openDate'].str[4:6]
    X['openDay'] = X['openDate'].str[6:]
    
    X = X.drop('openDate', axis=1)
    return X

In [8]:
train_test_prod = split_openDate_to_ymd(train_test_prod)
train_test_prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 56
Data columns (total 60 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             301 non-null    int64
 1   OC                  244 non-null    object
 2   sido                301 non-null    object
 3   sgg                 301 non-null    int64
 4   bedCount            296 non-null    float64
 5   instkind            300 non-null    object
 6   revenue1            293 non-null    float64
 7   salescost1          293 non-null    float64
 8   sga1                293 non-null    float64
 9   salary1             293 non-null    float64
 10  noi1                293 non-null    float64
 11  noe1                293 non-null    float64
 12  interest1           293 non-null    float64
 13  ctax1               293 non-null    float64
 14  profit1             293 non-null    float64
 15  liquidAsset1        293 non-null    float64
 16  quickAsset1         293 non-null    float64
 17  receivableS1        293 non-null    float64
 18  inventoryAsset1     293 non-null    float64
 19  nonCAsset1          293 non-null    float64
 20  tanAsset1           293 non-null    float64
 21  OnonCAsset1         293 non-null    float64
 22  receivableL1        293 non-null    float64
 23  debt1               293 non-null    float64
 24  liquidLiabilities1  293 non-null    float64
 25  shortLoan1          293 non-null    float64
 26  NCLiabilities1      293 non-null    float64
 27  longLoan1           293 non-null    float64
 28  netAsset1           293 non-null    float64
 29  surplus1            293 non-null    float64
 30  revenue2            293 non-null    float64
 31  salescost2          293 non-null    float64
 32  sga2                293 non-null    float64
 33  salary2             293 non-null    float64
 34  noi2                293 non-null    float64
 35  noe2                293 non-null    float64
 36  interest2           293 non-null    float64
 37  ctax2               293 non-null    float64
 38  profit2             293 non-null    float64
 39  liquidAsset2        293 non-null    float64
 40  quickAsset2         293 non-null    float64
 41  receivableS2        293 non-null    float64
 42  inventoryAsset2     293 non-null    float64
 43  nonCAsset2          293 non-null    float64
 44  tanAsset2           293 non-null    float64
 45  OnonCAsset2         293 non-null    float64
 46  receivableL2        293 non-null    float64
 47  debt2               293 non-null    float64
 48  liquidLiabilities2  293 non-null    float64
 49  shortLoan2          293 non-null    float64
 50  NCLiabilities2      293 non-null    float64
 51  longLoan2           293 non-null    float64
 52  netAsset2           293 non-null    float64
 53  surplus2            293 non-null    float64
 54  employee1           291 non-null    float64
 55  employee2           288 non-null    float64
 56  ownerChange         289 non-null    object
 57  openYear            301 non-null    object
 58  openMonth           301 non-null    object
 59  openDay             301 non-null    object
dtypes: float64(51), int64(2), object(7)
memory usage: 143.4+ KB

In [9]:
# sgg 도 범주형 데이터 이므로
train_test_prod['sgg'] = train_test_prod['sgg'].astype(str)

In [10]:
factor_columns = train_test_prod.select_dtypes(include = ['object']).columns
numeric_columns = train_test_prod.columns.difference(factor_columns)
train_test_prod["OC"] = train_test_prod["OC"].fillna("Don't_know")

train_test_prod[factor_columns] = train_test_prod[factor_columns].fillna('Not_sure')

train_test_prod[numeric_columns] = train_test_prod[numeric_columns].fillna(-999)

In [11]:
factor_columns

Index(['OC', 'sido', 'sgg', 'instkind', 'ownerChange', 'openYear', 'openMonth',
       'openDay'],
      dtype='object')

In [12]:
label_columns = ['OC', 'ownerChange']
onehot_columns = [col for col in factor_columns if col not in label_columns]

In [13]:
from sklearn.preprocessing import LabelEncoder
fac_le = LabelEncoder()
train_test_prod[label_columns] = train_test_prod.loc[:,label_columns].apply(lambda x : fac_le.fit_transform(x))

In [26]:
onehot_encoded = pd.get_dummies(train_test_prod[onehot_columns])
train_test_prod = pd.concat([train_test_prod, onehot_encoded], axis=1)
train_test_prod = train_test_prod.drop(onehot_columns, axis=1)

In [30]:
dep = 'OC'
indep = train_test_prod.columns.difference([dep])
train_prod = train_test_prod.loc[train_test_prod.OC != 0,]
test_prod = train_test_prod.loc[train_test_prod.OC == 0,]
train_prod.OC=train_prod.OC-1

sub_id = test_prod.inst_id

train_prod_X = train_prod[indep]
train_prod_Y = train_prod[dep]
test_prod_X = test_prod[indep]

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [31]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
scaler=StandardScaler()
svm=SVC(gamma="auto",probability=True)
train_prod_X_sc=scaler.fit_transform(train_prod_X)
test_prod_X_sc=scaler.transform(test_prod_X)

param_grid = [
  {'C': [0.001,0.01,0.1,1, 10, 100, 1000], 'kernel': ['rbf','linear']},
 ]
search = GridSearchCV(svm, param_grid,cv=5)
search.fit(train_prod_X_sc, train_prod_Y)
predict=search.predict(test_prod_X_sc)

In [32]:
sub_RF = pd.DataFrame({'inst_id' : sub_id , 'OC' : predict })
sub_RF = sub_RF[['inst_id', 'OC']]
sub_RF.to_csv("result_SVM.csv",index=False)