In [1]:
import numpy as np
import pandas as pd

In [2]:
# jupyter
train = pd.read_csv('./data01/train.csv/train.csv')
test = pd.read_csv('./data01/test.csv/test.csv')
submission = pd.read_csv('./data01/submission.csv')

# # colab
# from google.colab import drive
# drive.mount('/content/drive')
# train_df = pd.read_csv('/content/drive/MyDrive/kaggle-study/2/data01/train.csv/train.csv')
# test_df = pd.read_csv('/content/drive/MyDrive/kaggle-study/2/data01/test.csv/test.csv')
# submission_df = pd.read_csv('/content/drive/MyDrive/kaggle-study/2/data01/submission.csv')

In [3]:
# Dropped all columns except 'store_id', 'date', 'amount'
#
# The major reason for this was that the data does not include any hints on the type(clothing, food, alcohol, etc)
# of store and whether if the stores are similar types or not. Hence, removed them from both train & test.
train = train.drop(columns=['time', 'installments', 'days_of_week', 'card_id', 'holyday'])
test = test.drop(columns=['time', 'installments', 'days_of_week', 'card_id', 'holyday'])

In [4]:
# Aggregated data into the sum of amount per each day, per store_id.
train = train.groupby(['date', 'store_id']).agg({'amount':'sum'}).reset_index()
test = test.groupby(['date', 'store_id']).agg({'amount':'sum'}).reset_index()

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480160 entries, 0 to 480159
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      480160 non-null  object
 1   store_id  480160 non-null  int64
 2   amount    480160 non-null  int64
dtypes: int64(2), object(1)
memory usage: 11.0+ MB

In [6]:
train.head()

         date  store_id  amount
0  2016-08-01         2    2372
1  2016-08-01         6    1080
2  2016-08-01         8    3650
3  2016-08-01        12    1155
4  2016-08-01        14    1270